@import "_constants.scss";
@import "_mixin.scss";

body {
  font-family: $font-family;
  font-style: normal;
  color: $font-color-text;
}
a {
  color: $font-color-title;
}
h3,
h4 {
  color: $font-color-title;
  font-size: $main-font-size-small;
  font-weight: bold;
  line-height: 22px;
}
h3,
li {
  text-transform: uppercase;
}
p,
li {
  line-height: 20px;
  font-weight: normal;
}

.content {
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
  max-width: $content-max-width;
}
