$font-family: "Roboto", sans-serif;
$font-color-text: #5c5c5c;
$font-color-title: #4e4e4e;
$content-max-width: 1170px;
$nav-position: 28px;
$main-font-size-small: 14px;
$main-font-size-default: 16px;
$background-insta: #f7f7f7;
