@import "_constants.scss";
@import "_mixin.scss";

.header-menu-btn {
  float: right;
  width: 44px;
  height: 37px;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &__burger {
    width: 17px;
    height: 2px;
    background: #fff;
    transition: all 0.2s ease-in-out;
    &:before,
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 2px;
      background: #fff;
      transition: all 0.2s ease-in-out;
    }
    &::before {
      transform: translateY(-6px);
    }
    &::after {
      transform: translateY(6px);
    }
  }
}

.header-menu-btn.open .header-menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  &::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #fff;
  }
  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #fff;
  }
}

//Menu

.header-menu {
  position: relative;
  padding: 23px 0;

  &__burger {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 182px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    margin: 0 auto;
    &.open {
      display: block;
    }
    li {
      text-align: center;
      padding: 4px;
      font-size: 11px;
      line-height: 22px;
      background: #f5f5f5;
      &:first-of-type a {
        color: #57a4a4;
      }
      &:hover {
        background: #e5e5e5;
      }
    }
  }
}

.header-menu--big {
  display: none;
}

//Main
.main-img img {
  width: $content-max-width;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
//Recent posts
.posts {
  padding-top: 56px;
  padding-bottom: 60px;

  &__item {
    padding-top: 23px;

    &:last-of-type {
      display: none;
    }
  }
  &__item-text {
    p {
      font-size: 11px;

      &:not(:first-of-type) {
        display: none;
      }
    }
  }
}

//Instagram
.inst-photo {
  &__header {
    @include flex-posotion;
    padding: 47px 0 24px;
    p {
      display: none;
    }
  }
  &__content {
    padding-bottom: 42px;
    a:not(:first-of-type) {
      display: none;
    }
  }
}
//Footer
footer {
  background: #000000;
  .footer {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    span {
      display: none;
    }
    &__network {
      @include flex-posotion;
      padding: 26px 0;
      width: 200px;
      margin: 0 auto;

      &--rss {
        @include network-icon;
        border-color: #f8902e;
        background-image: url(../img/wifi.png);
      }
      &--facebook {
        @include network-icon;
        border-color: #39599f;
        background-image: url(../img/facebook-icon.png);
      }
      &--twitter {
        @include network-icon;
        border-color: #45b0e3;
        background-image: url(../img/twitter-icon.png);
      }
      &--dribbble {
        @include network-icon;
        border-color: #d97ab0;
        background-image: url(../img/dribbble-icon.png);
      }
      &--pinterest {
        @include network-icon;
        border-color: #cc212c;
        background-image: url(../img/pinterest-icon.png);
      }
    }
    h3 {
      color: #fefefe;
      padding: 38px 0 8px;
    }
    p {
      color: #b9b9b9;
      &:last-of-type {
        line-height: 24px;
        padding-bottom: 47px;
        width: 235px;
        margin: 0 auto;
        a {
          color: #b9b9b9;
        }
      }
    }
  }
}
