@import "_constants.scss";
@import "_mixin.scss";

@media screen and(min-width:1200px) {
  .posts-box {
    @include flex-posotion;
  }
  .inst-photo__content {
    grid-template-columns: repeat(4, 1fr);
    a:last-of-type {
      display: block;
    }
  }
}
