@import "_constants.scss";
@import "_mixin.scss";

@media screen and (min-width: 768px) {
  h3,
  h4 {
    font-size: $main-font-size-default;
  }
  //Header
  .header-menu--small {
    display: none;
  }
  .header-menu--big {
    @include flex-posotion;
    padding: 45px 0 50px;
    max-width: 820px;
    margin: 0 auto;
    a {
      font-size: 11px;
      &:hover {
        color: #57a4a4;
      }
    }
  }
  //recent posts
  .posts {
    &__item {
      display: flex;
      &:last-of-type {
        display: flex;
      }
    }
    &__item-text {
      padding-left: 21px;
      p {
        font-size: 12px;
        &:nth-of-type(2) {
          padding-top: 13px;
        }
        &:not(:last-of-type) {
          display: block;
        }
      }
    }
  }
  //instagram
  .inst-photo {
    background-color: $background-insta;
    &__header {
      p {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    &__content {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: 100%;
      }

      a:not(:last-of-type) {
        display: block;
      }
    }
  }
  //footer
  footer {
    .footer {
      span {
        display: inline;
      }
      width: 684px;
      p:last-of-type {
        width: inherit;
      }
    }
  }
}
