@mixin network-icon {
  width: 34px;
  height: 34px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-posotion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
