.card {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__descript {
    &::first-letter {
      padding-left: 10px;
    }
  }
  &__color {
    padding: 10px;
  }
  &__btn {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: grey;
    color: white;
  }
  .title {
    &__item {
      padding-right: 10px;
      font-weight: bold;
      font-size: 14px;
    }
    &__link {
      text-decoration: none;
      color: black;
      font-style: italic;
    }
  }

  &__img {
    width: 100%;
    height: 300px;
  }
  &__like {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: white;
  }
}
.cart-box {
  position: relative;
}
