.modal {
  z-index: 1;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--item {
      border-radius: 10px;
      background-color: white;
      max-width: 600px;
      min-width: 420px;
      color: black;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    background-color: rgba(75, 54, 47);
    padding: 0 30px;
    font-weight: bold;
    font-size: 24px;

    .header__title {
      padding-top: 15px;
      margin: 0 auto;
    }

    .btn {
      &__item {
        border: none;
        font-size: larger;
        color: black;
        font-weight: 100;
        background-color: inherit;
      }
    }
  }

  &__main {
    padding: 20px 50px;
  }
  .goods {
    display: flex;
    padding-bottom: 20px;
    &__img {
      width: 100px;
    }
    &__info {
      padding-left: 15px;
    }
  }
  .info {
    &__title {
      font-style: italic;
    }
    &__price {
      text-align: end;
      font-weight: bold;
      padding-top: 10px;
    }
  }
}
