.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 70px;
  top: 0;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 10px solid rgb(2, 2, 2);
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
