.modal {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--item {
      border-radius: 10px;
      background-color: rgba(247, 84, 25);
      max-width: 600px;
      min-width: 420px;
      color: #fff;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(157, 42, 0);
    padding: 30px;
    font-weight: bold;
    font-size: 24px;

    .header__title {
      margin: 0 auto;
    }

    .btn {
      &__item {
        border: none;
        background-color: inherit;
        font-size: larger;
        color: #fff;
        font-weight: 100;
      }
    }
  }

  &__main {
    padding: 20px 50px;
  }
}
