.btn {
  display: flex;
  justify-content: center;
  &__item {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
    background-color: grey;
  }
}
