.form {
  padding: 20px 400px;
  &__item {
    width: 200px;
    padding: 5px 0;

    label {
      display: block;
    }
  }
  .item {
    &__error {
      padding: 5px;
      color: red;
    }
  }
  &__btn {
    width: 100%;
    padding: 10px;
  }
  &__input {
    padding: 8px 0;
    width: 396px;
  }
}
