.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &__btn {
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: large;

    &:first-of-type {
      background-color: rgba(13, 0, 255);
    }

    &:last-of-type {
      background-color: rgb(255, 0, 4);
    }
  }
}
