.box {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.box-item {
  width: 100%;
  height: fit-content;
  background-color: rgba(106, 123, 203, 0.1);
  margin: 5px auto;
  border-radius: 10px;
  font-size: 14px;
  padding: 15px;
}
.box-item-header {
  display: flex;
  flex-direction: row;
}
.box-item_btn-item {
  flex: 10px;
}
.box-item_title {
  text-align: center;
  padding: 15px;
  padding-top: 0;
  font-weight: bold;
  text-transform: uppercase;
  flex: auto;
}
.box-item_content {
  font-style: italic;
  padding-left: 10px;
}
.box-item_content::first-letter {
  text-transform: uppercase;
  padding-left: 15px;
}
.box-item_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.box-item_name-user {
  text-transform: uppercase;
}
.box-item_name-username {
  padding-left: 10px;
}
.box-item_name-username a {
  text-decoration: none;
  color: black;
}
.box-item_btn-item {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.add-content {
  text-align: center;
  padding-top: 30px;
}
.add-content-btn {
  border: none;
  border-color: rgba(106, 123, 203, 0.1);
  padding: 10px 20px;
  justify-content: center;
}
.add-content-input {
  margin: 0 auto;
  min-height: 100px;
  height: fit-content;
  width: 50%;
}
.add-content-input input,
.add-content-input textarea {
  display: block;
  background-color: rgba(106, 123, 203, 0.2);
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  scroll-behavior: auto;
  width: 100%;
}
.add-content-input-title {
  margin: 20px auto 0;
}
.add-content-input-body {
  margin: 5px auto 0;
  min-height: 100px;
}
.box-item_btn-change::after {
  content: '\270E';
}
.box-item_btn-change {
  border: none;
  background-color: inherit;
}
.add-content-change {
  width: 100%;
  height: 70px;
  border: none;
}
.add-content-change-btn {
  margin-top: 10px;
  padding: 10px;
  border-color: grey;
  border-radius: 10px;
  background-color: inherit;
  width: 100%;
}
