.wish {
  margin: 0 auto;
  width: 1200px;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-top: 20px;
  }
  &__item {
    list-style: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &__header {
    text-align: center;
    padding: 30px;
    font-weight: 800;
    font-size: larger;
  }
}
