.header {
  background-color: aliceblue;
  height: 50px;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  padding-top: 5px;
  justify-content: center;
  &__link {
    text-decoration: none;
    padding: 10px;
    color: black;
    span {
      font-weight: 700;
    }
  }
}
