.header {
  background-color: aliceblue;

  height: 50px;
  display: flex;
  justify-content: center;
  &__item {
    position: relative;
  }
  .btn {
    height: 40px;
    width: 40px;
    margin: 5px;
    border: none;
    background-color: aliceblue;
  }
  &__card {
    background-image: url(./img/crzc.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__like {
    padding-top: 8px;
  }
  span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: black;
    font-weight: bold;
  }
}
