.product {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 20px;
  &__card {
    list-style: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
